.profile {
  display: flex;
}
.imgg {
  position: absolute;
  width: 12%;
  border: 1px dashed gray;
}

.profile-wrapper {
  margin-top: 65px;
  padding: 34px 34px;
  border: 2px solid red;
  margin-left: 73px;
  height: 100vh;
}
